*.o
*~
.*~
.cache
.deps
.dirstamp
/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/jai
/jai-*.tar.gz
/jai.1
/jai.conf
/jai.suid
/missing
/stamp-h1
Makefile
Makefile.in
compile_commands.json
